.form-control {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 8px;
    text-indent: 1px;
    width: 100%;

    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }
}
