//
// Colors
//
$blue: #2196f3;
$bluegrey: #607d8b;
$brown: #795548;
$cyan: #00bcd4;
$darkgreen: #009688;
$darkpurple: #673ab7;
$facebook: #3b5999;
$google: #dd4b39;
$green: #4caf50;
$indigo: #3f51b5;
$limegreen: #8bc34a;
$off-black: #222;
$off-white: #ddd;
$orange: #ff9800;
$pink: #e91e63;
$purple: #9c27b0;
$red: #f44336;
$twitter: #55acee;
$yellow: #ffeb3b;

$colors: (
    'blue': $blue,
    'bluegrey': $bluegrey,
    'brown': $brown,
    'cyan': $cyan,
    'darkgreen': $darkgreen,
    'darkpurple': $darkpurple,
    'facebook': $facebook,
    'google': $google,
    'green': $green,
    'indigo': $indigo,
    'limegreen': $limegreen,
    'off-black': $off-black,
    'off-white': $off-white,
    'orange': $orange,
    'pink': $pink,
    'purple': $purple,
    'red': $red,
    'twitter': $twitter,
    'yellow': $yellow,
);
