//
// Layout
//
$default-transition-duration: 200ms;

$content-margins-mobile: 20px;
$content-margins-tablet: 24px;
$content-max-width: 1400px;

$grid-padding-mobile: 10px;
$grid-padding-large-phone: 10px;
$grid-padding-tablet: 20px;
$grid-padding-desktop: 20px;
